---
import rootPackage from '../../../package.json'
---

<a
  class="version-badge"
  data-ttdash-version={rootPackage.version}
  href="https://github.com/roastcodes/ttdash/releases"
  aria-label={`View TTDash ${rootPackage.version} release notes`}
>
  <span aria-hidden="true" class="version-badge__dot"></span>
  Latest stable&nbsp; v{rootPackage.version}
</a>
